
/* Global starts: */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    color: #c8c8c8;
    font-family: 'Josefin Sans', sans-serif;   
}

/* main div css */
#container {
    height: 100%;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

h1, h2 , p {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    text-transform: capitalize;
}

/* button style */
button {
    text-decoration: none;
    padding: 1rem 3rem;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 3rem;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
}

/* button hover syle */
button:hover {
    background-color: #191919;
    color: #c8c8c8;
    border: solid 1px #c8c8c8;
    transition: all ease .45s;
}


/* media queries */
@media(max-width:970px) {
    h1, h2 , p {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    /* button style */
    button {
        padding: 0.5rem 2rem;
        font-size: 2rem;
        margin-left: 2rem;
        margin-top: 1rem;
        border-radius: 1rem;
    }   
}

@media(max-width: 500px) {
    
    #container {
        margin-top: 40%;
    }
    
    h1, h2 , p {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    
    /* button style */
    button {
        padding: 0.3rem 1rem;
        font-size: 1rem;
        margin-left: 1rem;
        margin-top: 0.8rem;
        border-radius: 0.6rem;
    }    
}